body {
  background: #000;
  color: #fff;
  padding:0 1rem;
}


nav {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;

  .button {
    cursor: pointer;
    display: block;
    text-align: center;
    padding-top: .5rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    width: 5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .active {
    font-weight: bold;
    background: #393b44;
    box-shadow: 4px -4px 3px silver;
  }
}

.hidden {
  display: none;
}

#view-brand, #view-regular, #view-solid, #view-bootstrap {
  &.hidden {
    width: 0;
    height: 0;
    transform: scale(0);
  }
  position:absolute;
  transition: all ease .5s;
  transform:none;
  background: #393b44;
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-top: 1rem;
  height: 92vh;
  overflow: scroll;

  &::-webkit-scrollbar {
    height: 0;
    width: 10px;
    border-radius: 10px;
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background: #fff;
  }

  .icon-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    .icon {
      border-radius: 10px;
      background: silver;
      padding: .5rem;
      width: 50px;
      height: 50px;
      display: block;

      img {
        width: 50px;
        height: 50px;
      }
    }

    p {
      text-align: center;
    }
  }
}

